<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>find of number of rooms and price</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content>
    <meta name="author" content>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
<a href="/">Main page</a><br>
<h1>Form</h1>
<form action="#" th:action="@{/find_by_number_of_rooms_and_price}">
    <p>Number of rooms: <input type="number" name="numberOfRooms" th:value="*{numberOfRooms}" class="form-control"/></p>
    <p>min Price: <input type="number" name="minPrice" th:value="*{minPrice}" class="form-control"/></p>
    <p>max Price: <input type="number" name="maxPrice" th:value="*{maxPrice}" class="form-control"/></p>
    <p><input type="submit" value="Submit" /></p>
</form>
</body>
</html>